@import "src/Assets/main";

.Footer {
  background-color: $background-light-20;
  padding-bottom: 2em;
  padding-top: 3.5em;

  span {
    font-size: $font-size-h5;
  }

  &__name {
    color: $color-green-main;
    font-weight: $font-weight-bold;
  }

  a {
    color: $color-green-main;
  }

  .col-12 {
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 0.3em;
  }

  &__social {
    display: flex;
    align-items: center;

    .col-md-6 {
      display: flex;
      justify-content: center;
    }
  }
}
