button.btn-green {
  background-color: #78b159;
  color: white;
}

.form-check-label:before {
  background-color: red;
}
.form-check .form-check-input:checked ~ .form-check-label::before {
  background-color: black;
}
