$color-green-main: #78b159;
$color-green-darker: #91c788;
$color-green-darkest: #52734d;
$color-green-light: #ddffbc;
$color-green-lighter: #feffde;

$background-light-100: #ffffff;
$background-light-60: #c8cbd0;
$background-light-20: #f4f5f6;
$background-dark-100: #151618;
$background-dark-60: #25282c;
$background-dark-20: #5f646d;

$font-light: black;
$font-dark: white;
